@page "/"
@inherits WalletComponent

<PageTitle>Ownable</PageTitle>

<form class="card card-sm">
    <div class="card-body row no-gutters align-items-center">
        <div class="col-auto">
            <i class="oi oi-magnifying-glass h4 text-body"></i>
        </div>
        <div class="col">
            <input @bind-value="@ContractAddress" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Enter a contract address">
        </div>
        <div class="col-auto">
            <button @onclick="OnSearchClicked" @onclick:preventDefault="true" @onclick:stopPropagation="true" class="btn btn-lg btn-success">Search</button>
        </div>
    </div>
</form>

@if (CollectionItems.Count > 0)
{
    //
    // https://getbootstrap.com/docs/5.1/components/card/
    //
    @foreach (var collectionItems in CollectionItems.Chunk(4))
    {
        <div class="row row-cols-4 row-cols-md-4 g-4">
        @foreach (var collectionItem in collectionItems)
        {
            <div class="col">
                <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="@collectionItem.Media" alt="@collectionItem.Name">
                    <div class="card-body">
                        <h5 class="card-title">@collectionItem.Name</h5>
                        <p class="card-text">@collectionItem.Description</p>
                        <a href="@GetItemUrl(collectionItem)" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        }
        </div>
    }
}

@code
{
    public string? ContractAddress { get; set; }
    public List<CollectionItem> CollectionItems { get; set; } = new();

    private async Task OnSearchClicked()
    {
        CollectionItems.Clear();
        CollectionItems.AddRange(await GetManyAsync<CollectionItem>($"api/collections/{ContractAddress}"));
    }

    private string GetItemUrl(CollectionItem collectionItem) => $"/item/{ContractAddress}/{collectionItem.TokenId}";
}